<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="Replace">
    <add name="MedilabEntities" connectionString="metadata=res://*/Medilab.csdl|res://*/Medilab.ssdl|res://*/Medilab.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.0.0.100;initial catalog=Medilab;User ID=medilabSQLuser;Password=medilabSQLuser;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings  xdt:Transform="Replace">
    <add key ="fileImagePath" value = "\\10.0.0.100\Medilab\Logo\"/>
    <add key ="filePhotoPath" value = "\Pictures\Archivos de LifeCam\"/>
    <add key ="filePhotoServerPath" value = "\\10.0.0.100\Medilab\PatientPhoto\"/>
    <add key ="fileClientLogoServerPath" value = "\\10.0.0.100\Medilab\ClientLogo\"/> 
    <add key ="filePhotoExtention" value = "*.jpg"/>
    <add key ="ExcelPathTemplates" value = "\\10.0.0.100\Medilab\ReportTemplates\"/>
    <add key ="ExcelPath" value = "\\10.0.0.100\Medilab\Temp\"/>
    <add key ="Report1" value="ReportePracticasPendientesXspe.xlsx"/>
    <add key ="ReportPracticesByProfessional" value="ReportePracticasPorProfesional.xlsx"/>
    <add key ="ReportLaboratory" value="ReporteLaboratorio.xlsx"/>
    <add key ="InvoiceDetail" value="InvoiceDetail.xlsx"/>
    <add key ="InvoiceA" value="TemplateFacturaA.xlsx"/>
    <add key ="InvoiceAr" value="TemplateFacturaAr.xlsx"/>
    <add key ="InvoiceAf" value="TemplateFacturaAf.xlsx"/>
    <add key ="InvoiceB" value="TemplateFacturaB.xlsx"/>
    <add key ="InvoiceBr" value="TemplateFacturaBr.xlsx"/>
    <add key ="InvoiceBf" value="TemplateFacturaBf.xlsx"/>
    <add key ="Receipt" value="TemplateRecibo.xlsx"/>
    <add key ="CreditNoteA" value="TemplateNotaDeCreditoA.xlsx"/>
    <add key ="CreditNoteB" value="TemplateNotaDeCreditoB.xlsx"/>
    <add key ="InvoiceDetailLimit" value="36"/>
    <add key ="ExcelExtention" value =".xlsx"/>
    <add key ="Affidavit" value ="DeclaracionJurada.xlsx"/>
    <add key ="ComplementaryPractices" value ="EstudiosComplementariosEvalFinal.xlsx"/>
    <add key ="CAEInputFolder" value ="\\10.0.0.100\Medilab\CAE\\Requerimiento\\"/>
    <add key ="CAEOutputFolder" value ="\\10.0.0.100\Medilab\CAE\\Resultado\\"/>
  </appSettings>
</configuration>